<main>
  <section class="breadcrumbs">
    <div class="container">
      <div class="ctn-breadcrumb">
        <div>
          <a [routerLink]="['/home']">Home</a> >
          <a [routerLink]="['./']">City</a> >
          <a [routerLink]="['./']">Area</a> >
          <a [routerLink]="['./']">Medanta Medicity</a>
          <div class="label mt-1">Welcome to our clinic profile page.</div>
        </div>
      </div>
    </div>
  </section>

  <section class="section0">
    <div class="container">
      <div class="row hero">
        <div class="col-md-8">
          <div class="cl-title">
            <div class="row">
              <div class="col-lg-8 cl-name">
                <span class="pr">Medanta Medicity</span>
              </div>
              <div class="col-lg-4 ctn-av mt-4 mt-lg-0">
                <img src="assets/svg/tick.svg" alt="">
                <div class="a-text">
                  <span class="pr">Open Today</span><br/>
                  from <span class="pr">8:00 AM</span> to <span class="pr">6:00 PM</span>
                </div>
              </div>
            </div>
          </div>

          <div class="cl-info">
            <div class="row">
              <div class="col">
                <div class="label">Phone Number</div>
                <div class="value">
                  <a href="tel:+919192939493">+91 91929 39493</a>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="label">Email</div>
                <div class="value">
                  <a href="mailto:dr.pkjain@irahealth.com">dr.pkjain@irahealth.com</a>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="label">Location</div>
                <div class="value">Gurugram, Delhi NCR</div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="label">Clinic Address</div>
                <div class="value">
                  Nitte Meenakshi Institute of Technology,<br/>
                  Yelahanka, Bengaluru - 560064
                </div>
              </div>
            </div>
          </div>

          <div class="row ctn-act d-none d-md-flex">
            <div class="col-12 col-sm-5">
              <a href="tel:9310208329">
                <button class="btn btn-pr">
                  <img src="assets/svg/appointment.svg" alt="">
                  <span>Request an Appointment</span>
                </button>
              </a>
            </div>
            <div class="col-12 col-sm-7 btn-sc-parent">
              <a href="tel:9310208329">
                <button class="btn btn-sc">
                  <img src="assets/svg/PhoneIcon.svg" alt="">
                  <span>Call Clinic</span>
                </button>
              </a>
              <a href="#">
                <button class="btn btn-sc">
                  <img src="assets/svg/bookmark.svg" alt="">
                  <span>Bookmark</span>
                </button>
              </a>
            </div>
          </div>
        </div>

        <div class="col-md-4 right text-center">
          <img class="map" src="assets/png/map.png" alt=""><br/>
          <button class="btn btn-sc my-4">
            <img src="assets/svg/marker.svg" alt="">
            <span>Open in Google Maps</span>
          </button>
        </div>
      </div>
    </div>
  </section>

  <section class="section1">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <div class="title"><span class="pr">About</span> our clinic</div>
          <div class="content">
            Medanta The Medicity is one of India’s largest multi-super specialty medical institutes located in<br/>
            Gurgaon. Spread over 43 acres, Medanta also includes a research center and a medical & nursing<br/>
            school. The hospital is committed to delivering world-class health care by creating institutes of<br/>
            excellence in integrated medical care, teaching and research. The team Medanta, aspires to create<br/>
            an ethical & safe environment to treat all with respect & dignity. The institution has bee...<a href="#">Read more</a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section2">
    <div class="container">
      <div class="row">
        <div class="col-sm-10">
          <div class="title"><span class="pr">Doctors available</span> in our clinic</div>

          <div class="row doc-item">
            <div class="col-3 d-none d-md-block">
              <div class="d-single">
                <a [routerLink]="['/doctor-single']">
                  <img src="assets/jpg/Doctor1.jpg" alt="" />
                </a>
              </div>
            </div>
            <div class="col-12 col-md-9">
              <div class="row mb-4">
                <div class="col-4 d-sm-block d-md-none ctn-img-sm">
                  <div class="d-single">
                    <a [routerLink]="['/doctor-single']">
                      <img src="assets/jpg/Doctor1.jpg" alt="" />
                    </a>
                  </div>
                </div>
                <div class="col-8 col-md-12">
                  <div class="ctn-name">
                    <a [routerLink]="['/doctor-single']">
                      <span class="pr">Dr. P.K. Jain</span>
                    </a>
                    <div class="ctn-av d-none d-md-flex">
                      <img src="assets/svg/tick.svg" alt="">
                      <div class="pr a-text">
                        Available Today<br class="d-sm-block d-md-none"/> at ₹400 consultation fee at clinic
                      </div>
                    </div>
                  </div>
                  <div class="value">Gastroenterologist, 30yrs exp.</div>
                  <div class="ctn-av d-sm-flex d-md-none">
                    <img src="assets/svg/tick.svg" alt="">
                    <div class="pr a-text">
                      Available Today<br class="d-sm-block d-md-none"/> at ₹400 consultation fee at clinic
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <div class="row">
                    <div class="col-12 p-0">
                      <div class="label">Location</div>
                      <div class="value">Gurugram, Delhi NCR</div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12 p-0">
                      <div class="label">Department</div>
                      <div class="value">Gastroenterology and Hepatology</div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="row">
                    <div class="col-12 p-0">
                      <div class="label">Phone Number</div>
                      <div class="value">
                        <a href="tel:+919192939493">+91 91929 39493</a>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12 p-0">
                      <div class="label">Email</div>
                      <div class="value">
                        <a href="mailto:dr.pkjain@irahealth.com">dr.pkjain@irahealth.com</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row ctn-act">
                <div class="col-12 col-sm-5">
                  <a [routerLink]="['/doctor-single']">
                    <button class="btn btn-pr">
                      <img src="assets/svg/appointment.svg" alt="">
                      <span>Request an Appointment</span>
                    </button>
                  </a>
                </div>
                <div class="col-12 col-sm-7 btn-sc-parent">
                  <a [routerLink]="['/doctor-single']">
                    <button class="btn btn-sc">
                      <img src="assets/svg/userIcon.svg" alt="">
                      <span>View Profile</span>
                    </button>
                  </a>
                  <a href="#">
                    <button class="btn btn-sc">
                      <img src="assets/svg/bookmark.svg" alt="">
                      <span>Bookmark</span>
                    </button>
                  </a>
                </div>
              </div>
              <hr/>
            </div>
          </div>

          <div class="row doc-item">
            <div class="col-3 d-none d-md-block">
              <div class="d-single">
                <a [routerLink]="['/doctor-single']">
                  <img src="assets/jpg/Doctor2.jpg" alt="" />
                </a>
              </div>
            </div>
            <div class="col-12 col-md-9">
              <div class="row mb-4">
                <div class="col-4 d-sm-block d-md-none ctn-img-sm">
                  <div class="d-single">
                    <a [routerLink]="['/doctor-single']">
                      <img src="assets/jpg/Doctor2.jpg" alt="" />
                    </a>
                  </div>
                </div>
                <div class="col-8 col-md-12">
                  <div class="ctn-name">
                    <a [routerLink]="['/doctor-single']">
                      <span class="pr">Dr. D.T. Mishra</span>
                    </a>
                    <div class="ctn-av d-none d-md-flex">
                      <img src="assets/svg/tick.svg" alt="">
                      <div class="pr a-text">
                        Available Today<br class="d-sm-block d-md-none"/> at ₹400 consultation fee at clinic
                      </div>
                    </div>
                  </div>
                  <div class="value">Gastroenterologist, 30yrs exp.</div>
                  <div class="ctn-av d-sm-flex d-md-none">
                    <img src="assets/svg/tick.svg" alt="">
                    <div class="pr a-text">
                      Available Today<br class="d-sm-block d-md-none"/> at ₹400 consultation fee at clinic
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <div class="row">
                    <div class="col-12 p-0">
                      <div class="label">Location</div>
                      <div class="value">Gurugram, Delhi NCR</div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12 p-0">
                      <div class="label">Department</div>
                      <div class="value">Gastroenterology and Hepatology</div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="row">
                    <div class="col-12 p-0">
                      <div class="label">Phone Number</div>
                      <div class="value">
                        <a href="tel:+919192939493">+91 91929 39493</a>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12 p-0">
                      <div class="label">Email</div>
                      <div class="value">
                        <a href="mailto:dr.pkjain@irahealth.com">dr.pkjain@irahealth.com</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row ctn-act">
                <div class="col-12 col-sm-5">
                  <a [routerLink]="['/doctor-single']">
                    <button class="btn btn-pr">
                      <img src="assets/svg/appointment.svg" alt="">
                      <span>Request an Appointment</span>
                    </button>
                  </a>
                </div>
                <div class="col-12 col-sm-7 btn-sc-parent">
                  <a [routerLink]="['/doctor-single']">
                    <button class="btn btn-sc">
                      <img src="assets/svg/userIcon.svg" alt="">
                      <span>View Profile</span>
                    </button>
                  </a>
                  <a href="#">
                    <button class="btn btn-sc">
                      <img src="assets/svg/bookmark.svg" alt="">
                      <span>Bookmark</span>
                    </button>
                  </a>
                </div>
              </div>
              <hr/>
            </div>
          </div>

          <div class="row doc-item">
            <div class="col-3 d-none d-md-block">
              <div class="d-single">
                <a [routerLink]="['/doctor-single']">
                  <img src="assets/jpg/Doctor3.jpg" alt="" />
                </a>
              </div>
            </div>
            <div class="col-12 col-md-9">
              <div class="row mb-4">
                <div class="col-4 d-sm-block d-md-none ctn-img-sm">
                  <div class="d-single">
                    <a [routerLink]="['/doctor-single']">
                      <img src="assets/jpg/Doctor3.jpg" alt="" />
                    </a>
                  </div>
                </div>
                <div class="col-8 col-md-12">
                  <div class="ctn-name">
                    <a [routerLink]="['/doctor-single']">
                      <span class="pr">Dr. Parirath Tiwari</span>
                    </a>
                    <div class="ctn-av d-none d-md-flex">
                      <img src="assets/svg/tick.svg" alt="">
                      <div class="pr a-text">
                        Available Today<br class="d-sm-block d-md-none"/> at ₹400 consultation fee at clinic
                      </div>
                    </div>
                  </div>
                  <div class="value">Gastroenterologist, 30yrs exp.</div>
                  <div class="ctn-av d-sm-flex d-md-none">
                    <img src="assets/svg/tick.svg" alt="">
                    <div class="pr a-text">
                      Available Today<br class="d-sm-block d-md-none"/> at ₹400 consultation fee at clinic
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <div class="row">
                    <div class="col-12 p-0">
                      <div class="label">Location</div>
                      <div class="value">Gurugram, Delhi NCR</div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12 p-0">
                      <div class="label">Department</div>
                      <div class="value">Gastroenterology and Hepatology</div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="row">
                    <div class="col-12 p-0">
                      <div class="label">Phone Number</div>
                      <div class="value">
                        <a href="tel:+919192939493">+91 91929 39493</a>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12 p-0">
                      <div class="label">Email</div>
                      <div class="value">
                        <a href="mailto:dr.pkjain@irahealth.com">dr.pkjain@irahealth.com</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row ctn-act">
                <div class="col-12 col-sm-5">
                  <a [routerLink]="['/doctor-single']">
                    <button class="btn btn-pr">
                      <img src="assets/svg/appointment.svg" alt="">
                      <span>Request an Appointment</span>
                    </button>
                  </a>
                </div>
                <div class="col-12 col-sm-7 btn-sc-parent">
                  <a [routerLink]="['/doctor-single']">
                    <button class="btn btn-sc">
                      <img src="assets/svg/userIcon.svg" alt="">
                      <span>View Profile</span>
                    </button>
                  </a>
                  <a href="#">
                    <button class="btn btn-sc">
                      <img src="assets/svg/bookmark.svg" alt="">
                      <span>Bookmark</span>
                    </button>
                  </a>
                </div>
              </div>
              <hr/>
            </div>
          </div>

        </div>
      </div>
      <div class="foot-link">
        <a class="pr" [routerLink]="['/doctors']">
          See our panel of doctors
          <img src="assets/svg/SeeMoreArrow.svg" alt="">
        </a>
      </div>
    </div>
  </section>

  <section class="section3">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <div class="title"><span class="pr">Procedures performed</span></div>
          <div class="content">
            <ul>
              <li><a href="#">Colonoscopy</a></li>
              <li><a href="#">Cryotherapy</a></li>
              <li><a href="#">Endoscopic mucosal resection</a></li>
              <li><a href="#">Esophageal dilatation</a></li>
              <li><a href="#">Radiofrequency ablation</a></li>
              <li><a href="#">Upper endoscopy</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section4">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <div class="title"><span class="pr">Testimonials by patients</span> about our clinic</div>
          <div class="content">
            <div class="row">
              <div class="col-lg-6">
                <div class="row">
                  <div class="col-4">
                    <img src="assets/jpg/Patient1.jpg" alt="" />
                  </div>
                  <div class="col-8">
                    <div class="r-name">Laxmi Bai</div>
                    <div class="r-test">
                      I would definitely recommend this doctor for the treatment of any
                      condition which is related to the esophagus.
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="row">
                  <div class="col-4">
                    <img src="assets/jpg/Patient3.jpg" alt="" />
                  </div>
                  <div class="col-8">
                    <div class="r-name">Balvinder Singh</div>
                    <div class="r-test">
                      I would definitely recommend this doctor for the treatment of any
                      condition which is related to the esophagus.
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6">
                <div class="row">
                  <div class="col-4">
                    <img src="assets/jpg/Patient2.jpg" alt="" />
                  </div>
                  <div class="col-8">
                    <div class="r-name">Laxmi S</div>
                    <div class="r-test">
                      I would definitely recommend this doctor for the treatment of any
                      condition which is related to the esophagus.
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="row">
                  <div class="col-4">
                    <img src="assets/jpg/Patient4.jpg" alt="" />
                  </div>
                  <div class="col-8">
                    <div class="r-name">Anupam Mishra</div>
                    <div class="r-test">
                      I would definitely recommend this doctor for the treatment of any
                      condition which is related to the esophagus.
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="foot-link">
        <a class="pr" href="#">
          Check out more reviews
          <img src="assets/svg/SeeMoreArrow.svg" alt="">
        </a>
      </div>
    </div>
  </section>

  <section class="section5">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <div class="title"><span class="pr">Photos</span> of our clinic</div>
          <div class="content">
            <div class="row">
              <div class="col-lg-6">
                <img src="assets/jpg/cl-pic1.jpg" alt="" />
              </div>
              <div class="col-lg-6 right">
                <div class="row">
                  <div class="col"><img src="assets/jpg/cl-pic2.jpg" alt="" /></div>
                  <div class="col"><img src="assets/jpg/cl-pic3.jpg" alt="" /></div>
                </div>
                <div class="row">
                  <div class="col"><img src="assets/jpg/cl-pic3.jpg" alt="" /></div>
                  <div class="col"><img src="assets/jpg/cl-pic4.jpg" alt="" /></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="foot-link">
        <a class="pr" href="#">
          Check out more photos
          <img src="assets/svg/SeeMoreArrow.svg" alt="">
        </a>
      </div>
    </div>
  </section>

  <section class="section6">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <div class="title"><span class="pr">Videos</span> of our clinic</div>
          <div class="content">
            <div class="row">
              <div class="col-lg-6">
                <a href="#">
                  <div class="v-single">
                    <div class="ctn-img">
                      <img src="assets/jpg/VideoThumbnail1.jpg" alt="">
                    </div>
                    <div class="ctn-txt">
                      <div class="v-title">Basic symptoms of COVID-19 explained in simplest way possible!</div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="col-lg-6">
                <a href="#">
                  <div class="v-single">
                    <div class="ctn-img">
                      <img src="assets/jpg/VideoThumbnail2.jpg" alt="">
                    </div>
                    <div class="ctn-txt">
                      <div class="v-title">What fever can mean for 3-5 years old childrens</div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="foot-link">
        <a class="pr" href="#">
          See more videos
          <img src="assets/svg/SeeMoreArrow.svg" alt="">
        </a>
      </div>
    </div>
  </section>

  <section class="section7">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <div class="title"><span class="pr">Insurance companies</span> for our clinic</div>
          <div class="content">
            <ul>
              <li>ICICI Lombard</li>
              <li>Bajaj Finserv</li>
              <li>Go digit</li>
              <li>Relegare Health Insurance</li>
              <li>Appolo Munich</li>
              <li>HDFC Ergo</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section8">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <div class="title"><span class="pr">Frequent searches</span> leading to this page</div>
          <div class="content ctn-tags">
            <div class="tag-box">covid-19</div>
            <div class="tag-box">medanta</div>
            <div class="tag-box">medicity</div>
            <div class="tag-box">medanta medicity</div>
            <div class="tag-box">open today</div>
            <div class="tag-box">gurugram</div>
            <div class="tag-box">dr. p. k. jain</div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
