<main>
  <section class="breadcrumbs">
    <div class="container">
      <div class="ctn-breadcrumb">
        <div>
          <a [routerLink]="['/home']">Home</a> >
          <a [routerLink]="['/contact']">Contact Us</a>
          <div class="label mt-1">Let's keep it simple!</div>
        </div>
      </div>
    </div>
  </section>

  <section class="section-contact pt-0">
    <div class="container">
      <div class="title title-sm pr">Location</div>
      <div class="text">
        <p>Our team is currently based out of Gurgaon.</p>
      </div>

      <div class="title title-sm pr">Address</div>
      <div class="text">
        <img class="map" src="assets/png/map.png" alt=""><br/>
        <button class="btn btn-sc mb-4">
          <img src="assets/svg/marker.svg" alt="">
          Open in Google Maps
        </button>
        <p>852, JMD megapolis, sohna Road</p>
      </div>

      <div class="title title-sm pr">Contact number</div>
      <div class="text">
        <p>+91 89897-89897</p>
        <a class="btn-parent" href="tel:9310208329">
          <button class="btn btn-pr">
            <img src="assets/svg/WhatsAppIcon.svg" alt="">
            <span>Chat in WhatsApp</span>
          </button>
        </a>
        <a class="btn-parent" href="tel:9310208329">
          <button class="btn btn-sc">
            <img src="assets/svg/PhoneIcon.svg" alt="">
            <span>Call Us</span>
          </button>
        </a>
      </div>

      <div class="title title-sm pr">Email</div>
      <div class="text">
        <p>divya@irahealth.org</p>
        <div class="founder">
          <p>
            <span>Divya Jain</span><br/>
            <span>Founder, irahealth.org</span>
          </p>
          <a href="#"><img src="assets/svg/LinkedInLogo.svg" alt=""></a>
          <a href="#"><img src="assets/svg/FacebookLogo.svg" alt=""></a>
          <a href="#"><img src="assets/svg/TwitterLogo.svg" alt=""></a>
        </div>
      </div>
    </div>
  </section>
</main>
