<main>

  <section class="breadcrumbs">
    <div class="container">
      <div class="ctn-breadcrumb">
        <div>
          <a [routerLink]="['/home']">Home</a> >
          <a [routerLink]="['./']">Delhi</a> >
          <a [routerLink]="['./']">General Physician</a> >
          <a [routerLink]="['/doctor-single']">Dr. P.K. Jain</a>
          <div class="label mt-1">Welcome to our doctors profile page.</div>
        </div>
      </div>
    </div>
  </section>

  <section class="section0">
    <div class="container">
      <div class="row hero">
        <div class="col-md-8 col-12">

          <div class="h-title desktop-only">
            <div class="row">
              <div class="col-sm-6">
                <span class="pr">Dr. P.K. Jain</span>
                <div class="value">Gastroenterologist, 30yrs exp.</div>
              </div>
              <div class="col-sm-6 ctn-av desktop-only">
                <img src="assets/svg/tick.svg" alt="">
                <div class="pr a-text">
                  Available Today<br/> at ₹400 consultation fee at clinic
                </div>
              </div>
            </div>
          </div>

          <div class="h-info">
            <div class="row">
              <div class="col-sm-6">
                <div class="label">Department</div>
                <div class="value">Gastroenterology and Hepatology</div>
              </div>
              <div class="col-sm-6">
                <div class="label">Phone Number</div>
                <div class="value">
                  <a href="tel:+919192939493">+91 91929 39493</a>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="label">Speciality Groups</div>
                <div class="value">Esophageal Clinic</div>
              </div>
              <div class="col-sm-6">
                <div class="label">Email</div>
                <div class="value">
                  <a href="mailto:dr.pkjain@irahealth.com">dr.pkjain@irahealth.com</a>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="label">Languages</div>
                <div class="value">Hindi  •  English  •  Punjabi</div>
              </div>
              <div class="col-sm-6">
                <div class="label">Location</div>
                <div class="value">Gurugram, Delhi NCR</div>
              </div>
            </div>
          </div>

          <div class="row ctn-act d-none d-md-flex">
            <div class="col-12 col-sm-5">
              <a href="tel:9310208329">
                <button class="btn btn-pr">
                  <img src="assets/svg/appointment.svg" alt="">
                  <span>Request an Appointment</span>
                </button>
              </a>
            </div>
            <div class="col-12 col-sm-7 btn-sc-parent">
              <a href="tel:9310208329">
                <button class="btn btn-sc">
                  <img src="assets/svg/PhoneIcon.svg" alt="">
                  <span>Call Doctor</span>
                </button>
              </a>
              <a href="#">
                <button class="btn btn-sc">
                  <img src="assets/svg/bookmark.svg" alt="">
                  <span>Bookmark</span>
                </button>
              </a>
            </div>
          </div>

        </div>

        <div class="col-md-4 col-12 right">
          <div class="h-title mobile-only">
            <span class="pr">Dr. P.K. Jain</span>
            <div class="value">Gastroenterologist, 30yrs exp.</div>
          </div>
          <div class="d-single">
            <img src="assets/jpg/Doctor1.jpg" alt="" />
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="mobile-only ctn-navbox-mobile">
    <div class="controls">
      <div class="nav-ind">Biographical Summary</div>
      <a data-toggle="collapse" href="#collapse1">
        <img src="assets/png/mobile-nav-arrow.png" alt="" />
      </a>
    </div>
    <div class="collapse" id="collapse1">
      <div class="card card-body">
        <div class="navbox-item">
          <a data-target="section1" href="javascript:void(0)">Biographical Summary</a>
        </div>
        <div class="navbox-item">
          <a data-target="section2" href="javascript:void(0)">Conditions treated</a>
        </div>
        <div class="navbox-item">
          <a data-target="section3" href="javascript:void(0)">Procedures performed</a>
        </div>
        <div class="navbox-item">
          <a data-target="section4" href="javascript:void(0)">Testimonials by patients</a>
        </div>
        <div class="navbox-item">
          <a data-target="section5" href="javascript:void(0)">Irahealth clinic locations</a>
        </div>
        <div class="navbox-item">
          <a data-target="section6" href="javascript:void(0)">Endorsements by other doctors</a>
        </div>
        <div class="navbox-item">
          <a data-target="section7" href="javascript:void(0)">Articles by doctor</a>
        </div>
        <div class="navbox-item">
          <a data-target="section8" href="javascript:void(0)">Videos by doctor</a>
        </div>
        <div class="navbox-item">
          <a data-target="section9" href="javascript:void(0)">Interests</a>
        </div>
        <div class="navbox-item">
          <a data-target="section10" href="javascript:void(0)">Education</a>
        </div>
        <div class="navbox-item">
          <a data-target="section11" href="javascript:void(0)">Activities and Honors</a>
        </div>
      </div>
    </div>
  </section>

  <section class="section1">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <div class="title">Biographical Summary</div>
          <div class="content">
            Dr. Jain is a gastroenterologist specializing in caring for patients
            with esophageal disorders, with a particular expertise and clinical
            focus in Barrett's esophagus and esophageal cancer. He also cares for
            patients with complex and refractory esophageal strictures utilizing
            novel techniques and directs the esophageal self-dilation program in Arizona.
          </div>
        </div>
        <div class="col-md-4">
          <div class="ctn-navbox">
            <div class="ctn-navbox-inner">
              <div class="navbox-item">
                <a data-target="section1" href="javascript:void(0)">Biographical Summary</a>
                <img src="assets/png/active-nav.png" alt="" />
              </div>
              <div class="navbox-item">
                <a data-target="section2" href="javascript:void(0)">Conditions treated</a>
                <img src="assets/png/active-nav.png" alt="" />
              </div>
              <div class="navbox-item">
                <a data-target="section3" href="javascript:void(0)">Procedures performed</a>
                <img src="assets/png/active-nav.png" alt="" />
              </div>
              <div class="navbox-item">
                <a data-target="section4" href="javascript:void(0)">Testimonials by patients</a>
                <img src="assets/png/active-nav.png" alt="" />
              </div>
              <div class="navbox-item">
                <a data-target="section5" href="javascript:void(0)">Irahealth clinic locations</a>
                <img src="assets/png/active-nav.png" alt="" />
              </div>
              <div class="navbox-item">
                <a data-target="section6" href="javascript:void(0)">Endorsements by other doctors</a>
                <img src="assets/png/active-nav.png" alt="" />
              </div>
              <div class="navbox-item">
                <a data-target="section7" href="javascript:void(0)">Articles by doctor</a>
                <img src="assets/png/active-nav.png" alt="" />
              </div>
              <div class="navbox-item">
                <a data-target="section8" href="javascript:void(0)">Videos by doctor</a>
                <img src="assets/png/active-nav.png" alt="" />
              </div>
              <div class="navbox-item">
                <a data-target="section9" href="javascript:void(0)">Interests</a>
                <img src="assets/png/active-nav.png" alt="" />
              </div>
              <div class="navbox-item">
                <a data-target="section10" href="javascript:void(0)">Education</a>
                <img src="assets/png/active-nav.png" alt="" />
              </div>
              <div class="navbox-item">
                <a data-target="section11" href="javascript:void(0)">Activities and Honors</a>
                <img src="assets/png/active-nav.png" alt="" />
              </div>
            </div>
            <div class="w-100 text-right mt-4">
              <a href="#">
                <button class="btn btn-pr">Request an Appointment</button>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section2">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <div class="title">Conditions Treated</div>
          <div class="content">
            <ul>
              <li><a href="#">Achalasia</a></li>
              <li><a href="#">Barrett's esophagus</a></li>
              <li><a href="#">Eosinophilic esophagitis</a></li>
              <li><a href="#">Esophageal cancer</a></li>
              <li><a href="#">Esophageal stricture</a></li>
              <li><a href="#">Esophagitis</a></li>
              <li><a href="#">GERD</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section3">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <div class="title">Procedures performed</div>
          <div class="content">
            <ul>
              <li><a href="#">Colonoscopy</a></li>
              <li><a href="#">Cryotherapy</a></li>
              <li><a href="#">Endoscopic mucosal resection</a></li>
              <li><a href="#">Esophageal dilatation</a></li>
              <li><a href="#">Radiofrequency ablation</a></li>
              <li><a href="#">Upper endoscopy</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section4">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <div class="title">Testimonials by patients</div>
          <div class="content">
            <div class="row">
              <div class="col-lg-6">
                <div class="row">
                  <div class="col-4">
                    <img src="assets/jpg/Patient1.jpg" alt="" />
                  </div>
                  <div class="col-8">
                    <div class="r-name">Laxmi Bai</div>
                    <div class="r-test">
                      I would definitely recommend this doctor for the treatment of any
                      condition which is related to the esophagus.
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="row">
                  <div class="col-4">
                    <img src="assets/jpg/Patient3.jpg" alt="" />
                  </div>
                  <div class="col-8">
                    <div class="r-name">Balvinder Singh</div>
                    <div class="r-test">
                      I would definitely recommend this doctor for the treatment of any
                      condition which is related to the esophagus.
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6">
                <div class="row">
                  <div class="col-4">
                    <img src="assets/jpg/Patient2.jpg" alt="" />
                  </div>
                  <div class="col-8">
                    <div class="r-name">Laxmi S</div>
                    <div class="r-test">
                      I would definitely recommend this doctor for the treatment of any
                      condition which is related to the esophagus.
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="row">
                  <div class="col-4">
                    <img src="assets/jpg/Patient4.jpg" alt="" />
                  </div>
                  <div class="col-8">
                    <div class="r-name">Anupam Mishra</div>
                    <div class="r-test">
                      I would definitely recommend this doctor for the treatment of any
                      condition which is related to the esophagus.
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="foot-link">
        <a class="pr" href="#">
          Check out more reviews
          <img src="assets/svg/SeeMoreArrow.svg" alt="">
        </a>
      </div>
    </div>
  </section>

  <section class="section5">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <div class="title">Irahealth clinic locations</div>
          <div class="content">
            <div class="row">
              <div class="col-lg-6">
                <img src="assets/jpg/Clinic1.jpg" alt="" />
              </div>
              <div class="col-lg-6 ctn-cl-info">
                <div>
                  <div class="c-name">
                    Nitte Meenakshi Institute of Technology,<br/>
                    Yelahanka, Bengaluru - 560064
                  </div>
                  <a href="#">
                    <button class="btn btn-pr mt-2">Show Directions on Map</button>
                  </a>
                </div>
                <div>
                  <div class="c-info">More info</div>
                  <a href="#">Billing & Insurance</a><br/>
                  <a href="#">Accessibility services</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section6">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <div class="title">Endorsement by other doctors</div>
          <div class="content">
            <div class="row">
              <div class="col-lg-6">
                <div class="row">
                  <div class="col-4">
                    <img src="assets/jpg/Doctor2.jpg" alt="" />
                  </div>
                  <div class="col-8">
                    <div class="r-name">Dr. Parirath Mishra</div>
                    <div class="r-test">
                      I would definitely recommend this doctor for the treatment of any
                      condition which is related to the esophagus.
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="row">
                  <div class="col-4">
                    <img src="assets/jpg/Doctor3.jpg" alt="" />
                  </div>
                  <div class="col-8">
                    <div class="r-name">Dr. J. K. Jain</div>
                    <div class="r-test">
                      I would definitely recommend this doctor for the treatment of any
                      condition which is related to the esophagus.
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6">
                <div class="row">
                  <div class="col-4">
                    <img src="assets/jpg/Doctor4.jpg" alt="" />
                  </div>
                  <div class="col-8">
                    <div class="r-name">Dr. Pari Mishra</div>
                    <div class="r-test">
                      I would definitely recommend this doctor for the treatment of any
                      condition which is related to the esophagus.
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="row">
                  <div class="col-4">
                    <img src="assets/jpg/Doctor5.jpg" alt="" />
                  </div>
                  <div class="col-8">
                    <div class="r-name">Dr. Carmela Soprano</div>
                    <div class="r-test">
                      I would definitely recommend this doctor for the treatment of any
                      condition which is related to the esophagus.
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="foot-link">
        <a class="pr" href="#">
          Check out more endorsements
          <img src="assets/svg/SeeMoreArrow.svg" alt="">
        </a>
      </div>
    </div>
  </section>

  <section class="section7">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <div class="title">Articles by Doctor</div>
          <div class="content">
            <div class="row">
              <div class="col-lg-4">
                <a href="#">
                  <div class="a-single">
                    <div class="ctn-img">
                      <img src="assets/jpg/ArticleImage1.jpg" alt="">
                    </div>
                    <div class="ctn-txt">
                      <div class="a-title">How can you grow plants in your home</div>
                      <div class="a-sub-title">
                        Home grown plants are generally free of all chemicals that are sold in the market n...
                      </div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="col-lg-4">
                <a href="#">
                  <div class="a-single">
                    <div class="ctn-img">
                      <img src="assets/jpg/ArticleImage2.jpg" alt="">
                    </div>
                    <div class="ctn-txt">
                      <div class="a-title">Homopathy can cure without any side effects</div>
                      <div class="a-sub-title">
                        Even though the treatment process is slower than other methods, it can cure without...
                      </div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="col-lg-4">
                <a href="#">
                  <div class="a-single">
                    <div class="ctn-img">
                      <img src="assets/jpg/ArticleImage3.jpg" alt="">
                    </div>
                    <div class="ctn-txt">
                      <div class="a-title">There are some methods which can be!</div>
                      <div class="a-sub-title">
                        Even though the treatment process is slower than other methods, it can cure without...
                      </div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="foot-link">
        <a class="pr" href="#">
          See more articles
          <img src="assets/svg/SeeMoreArrow.svg" alt="">
        </a>
      </div>
    </div>
  </section>

  <section class="section8">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <div class="title">Videos by Doctor</div>
          <div class="content">
            <div class="row">
              <div class="col-lg-6">
                <a href="#">
                  <div class="v-single">
                    <div class="ctn-img">
                      <img src="assets/jpg/VideoThumbnail1.jpg" alt="">
                    </div>
                    <div class="ctn-txt">
                      <div class="v-title">Basic symptoms of COVID-19 explained in simplest way possible!</div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="col-lg-6">
                <a href="#">
                  <div class="v-single">
                    <div class="ctn-img">
                      <img src="assets/jpg/VideoThumbnail2.jpg" alt="">
                    </div>
                    <div class="ctn-txt">
                      <div class="v-title">What fever can mean for 3-5 years old childrens</div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="foot-link">
        <a class="pr" href="#">
          See more videos
          <img src="assets/svg/SeeMoreArrow.svg" alt="">
        </a>
      </div>
    </div>
  </section>

  <section class="section9">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <div class="title">Interests</div>
          <div class="content">
            <ul>
              <li>Barrett's esophagus and early esophageal cancer</li>
              <li>Endoscopic therapy of Barrett's esophagus-related neoplasia</li>
              <li>Advanced imaging in Barrett's esophagus</li>
              <li>Benign refractory esophageal strictures</li>
              <li>Gastroesophageal reflux disease (GERD)</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section10">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <div class="title">Education</div>
          <div class="content ctn-history">
            <div class="row">
              <div class="col-sm-2 col-3 time">2019</div>
              <div class="col-sm-10 col-9">
                <div class="i-title">Fellow</div>
                <div class="i-desc">
                  Gastroenterology Fellowship, Internal Medicine, Programs in Arizona,
                  Mayo School of Graduate Medical Education, Mayo Clinic College of Medicine
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-2 col-3 time">2016</div>
              <div class="col-sm-10 col-9">
                <div class="i-title">Resident</div>
                <div class="i-desc">
                  Internal Medicine Residency, Internal Medicine, Programs in Arizona,
                  Mayo School of Graduate Medical Education, Mayo Clinic College of Medicine
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="foot-link">
        <a class="pr" href="#">
          See more education
          <img src="assets/svg/SeeMoreArrow.svg" alt="">
        </a>
      </div>
    </div>
  </section>

  <section class="section11">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <div class="title">Activities and Honors</div>
          <div class="content ctn-history">
            <div class="t-title">Certifications</div>
            <div class="row">
              <div class="col-sm-2 col-3 time">2019</div>
              <div class="col-sm-10 col-9">
                <div class="i-title">Gastroenterology</div>
                <div class="i-desc">
                  American Board of Internal Medicine
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-2 col-3 time">2016</div>
              <div class="col-sm-10 col-9">
                <div class="i-title">Internal Medicine</div>
                <div class="i-desc">
                  American Board of Internal Medicine
                </div>
              </div>
            </div>
            <div class="t-title">Awards and Honors</div>
            <div class="row">
              <div class="col-sm-2 col-3 time">2016</div>
              <div class="col-sm-10 col-9">
                <div class="i-title">Attitude, Commitment and Excellence Award, PGY-3</div>
                <div class="i-desc">
                  Mayo Clinic School of Graduate Medical Education
                </div>
                <br/>
                <div class="i-title">David R. Sanderson Academic Achievement Award</div>
                <div class="i-desc">
                  Mayo Clinic School of Graduate Medical Education
                </div>
              </div>
            </div>
            <div class="t-title">Professional memberships</div>
            <div class="row">
              <div class="col-sm-2 col-3 time">2017 - Present</div>
              <div class="col-sm-10 col-9">
                <div class="i-title">Member</div>
                <div class="i-desc">
                  Trainee Engagement Task Force, American Society for Gastrointestinal Endoscopy
                </div>
                <br/>
                <div class="i-title">Early Career Ambassador</div>
                <div class="i-desc">
                  American Gastroenterological Association
                </div>
              </div>
            </div>
            <div class="t-title">Publications</div>
            <a href="#">See my publications</a>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
