<header>
  <nav class="navbar navbar-expand-lg fixed-top" [ngClass]="{ 'nav-login' : router.url === '/login'}">
    <div [ngClass]="(router.url === '/login')?'container-fluid':'container'">
      <a [routerLink]="['/home']" class="navbar-brand">
        <img src="assets/svg/irahealthLogo.svg" alt="">
        <div class="ctn-heading">
          <div class="title">{{ 'title' | transloco }}</div>
          <div class="sub-title">{{ 'sub-title' | transloco }}</div>
        </div>
      </a>
      <div class="ctn-cta">
        <button type="button" [routerLink]="['/login']" class="btn btn-pr mr-2">
          {{ 'login' | transloco }}
        </button>
        <div class="ctn-search mr-4">
          <div class="search-inp">
            <img src="assets/svg/SearchIcon.svg" alt="" />
          </div>
        </div>
        Lang: <toggle-button (changed)="changeLang($event)"></toggle-button>
      </div>
    </div>
  </nav>
</header>

<router-outlet></router-outlet>

<footer [hidden]="router.url === '/login'">
  <div class="footer-left">
    <a href="./about">{{ 'footer.link1' | transloco }}</a>
    <a href="./terms">{{ 'footer.link2' | transloco }}</a>
    <a href="./privacy">{{ 'footer.link3' | transloco }}</a>
  </div>
  <div class="footer-right">
    <a href="#">{{ 'footer.link4' | transloco }}</a>
    <a href="https://blog.irahealth.org/" target="_blank">{{ 'footer.link5' | transloco }}</a>
  </div>
</footer>
