<main>
  <section class="section0">
    <div class="container">

      <div class="row hero">
        <div class="col-md-7 col-12">
          <div class="h-title" [innerHTML]="'section0.h-title' | transloco">
          </div>
          <div class="h-sub-title" [innerHTML]="'section0.h-subtitle' | transloco">
          </div>
          <div class="ctn-act">
            <div class="row mb-3">
              <div class="col pr-0">
                <button class="btn btn-pr">
                  <img src="assets/svg/WhatsAppIcon.svg" alt="Whatsapp Icon" />
                  {{ 'section0.act-txt1' | transloco }}
                </button>
              </div>
              <div class="col">
                <button class="btn btn-sc">
                  <img src="assets/svg/PhoneIcon.svg" alt="Phone Icon" />
                  {{ 'section0.act-txt2' | transloco }}
                </button>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <a href="/clinics">
                  <button class="btn btn-sc">
                    <img src="assets/svg/chat.svg" alt="Chat icon" />
                    {{ 'section0.act-txt3' | transloco }}
                  </button>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-5 col-12 right">
          <img class="img1" src="assets/jpg/HeroImage1.jpg" alt="">
          <img class="img2" src="assets/jpg/HeroImage2.jpg" alt="">
          <div class="sq sq1"></div>
          <div class="sq sq2"></div>
        </div>
      </div>

      <div class="ctn-scrolldown pr">
        {{ 'section0.exp' | transloco }}
        <img src="assets/svg/ScrollToIcon.svg" alt="">
      </div>
    </div>
  </section>

  <section class="section1">
    <div class="container">
      <div class="title" [innerHTML]="'section1.title' | transloco"></div>
      <div class="sub-title" [innerHTML]="'section1.subtitle' | transloco"></div>

      <div class="ctn-tailor">
        <div class="row">
          <div class="col-md-6 col-lg-4">
            <div class="t-single">
              <div class="ctn-img">
                <img src="assets/svg/ecg 1.svg" alt="">
              </div>
              <div class="ctn-txt">
                <div class="t-title pr">{{ 'section1.item1.text' | transloco }}</div>
                <div class="t-sub-title">{{ 'section1.item1.desc' | transloco }}</div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4">
            <div class="t-single">
              <div class="ctn-img">
                <img src="assets/svg/timer 1.svg" alt="">
              </div>
              <div class="ctn-txt">
                <div class="t-title pr">{{ 'section1.item2.text' | transloco }}</div>
                <div class="t-sub-title">{{ 'section1.item2.desc' | transloco }}</div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4">
            <div class="t-single">
              <div class="ctn-img">
                <img src="assets/svg/love 1.svg" alt="">
              </div>
              <div class="ctn-txt">
                <div class="t-title pr">{{ 'section1.item3.text' | transloco }}</div>
                <div class="t-sub-title">{{ 'section1.item3.desc' | transloco }}</div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4">
            <div class="t-single">
              <div class="ctn-img">
                <img src="assets/svg/hospital-bed 1.svg" alt="">
              </div>
              <div class="ctn-txt">
                <div class="t-title pr">{{ 'section1.item4.text' | transloco }}</div>
                <div class="t-sub-title">{{ 'section1.item4.desc' | transloco }}</div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4">
            <div class="t-single">
              <div class="ctn-img">
                <img src="assets/svg/virus 1.svg" alt="">
              </div>
              <div class="ctn-txt">
                <div class="t-title pr">{{ 'section1.item5.text' | transloco }}</div>
                <div class="t-sub-title">{{ 'section1.item5.desc' | transloco }}</div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4">
            <div class="t-single">
              <div class="ctn-img">
                <img src="assets/svg/consulting 1.svg" alt="">
              </div>
              <div class="ctn-txt">
                <div class="t-title pr">{{ 'section1.item6.text' | transloco }}</div>
                <div class="t-sub-title">{{ 'section1.item6.desc' | transloco }}</div>
              </div>
            </div>
          </div>
         </div>
      </div>
    </div>
  </section>

  <section class="section2">
    <div class="container">
      <div class="title" [innerHTML]="'section2.title' | transloco"></div>
      <div class="sub-title" [innerHTML]="'section2.subtitle' | transloco"></div>

      <div class="ctn-doc">
        <div class="d-single">
          <a [routerLink]="['/doctor-single']">
            <img src="assets/jpg/Doctor1.jpg" alt="">
            <div class="d-title pr">{{ 'section2.doc1.text' | transloco }}</div>
            <div class="d-sub-title">{{ 'section2.doc1.desc' | transloco }}</div>
          </a>
        </div>
        <div class="d-single">
          <a [routerLink]="['/doctor-single']">
            <img src="assets/jpg/Doctor2.jpg" alt="">
            <div class="d-title pr">{{ 'section2.doc2.text' | transloco }}</div>
            <div class="d-sub-title">{{ 'section2.doc2.desc' | transloco }}</div>
          </a>
        </div>
        <div class="d-single">
          <a [routerLink]="['/doctor-single']">
            <img src="assets/jpg/Doctor3.jpg" alt="">
            <div class="d-title pr">{{ 'section2.doc3.text' | transloco }}</div>
            <div class="d-sub-title">{{ 'section2.doc3.desc' | transloco }}</div>
          </a>
        </div>
        <div class="d-single">
          <a [routerLink]="['/doctor-single']">
            <img src="assets/jpg/Doctor4.jpg" alt="">
            <div class="d-title pr">{{ 'section2.doc4.text' | transloco }}</div>
            <div class="d-sub-title">{{ 'section2.doc4.desc' | transloco }}</div>
          </a>
        </div>
      </div>

      <div class="foot-link">
        <a class="pr" [routerLink]="['/doctors']">
          {{ 'section2.foot' | transloco }}
          <img src="assets/svg/SeeMoreArrow.svg" alt="">
        </a>
      </div>
    </div>
  </section>

  <section class="section3">
    <div class="container">
      <div class="title" [innerHTML]="'section3.title' | transloco"></div>
      <div class="sub-title" [innerHTML]="'section3.subtitle' | transloco"></div>

      <div class="ctn-pat">
        <div class="p-single">
          <a href="#">
            <img src="assets/jpg/Patient1.jpg" alt="">
            <div class="p-title">{{ 'section3.pat1' | transloco }}</div>
          </a>
        </div>
        <div class="p-single">
          <a href="#">
            <img src="assets/jpg/Patient2.jpg" alt="">
            <div class="p-title">{{ 'section3.pat2' | transloco }}</div>
          </a>
        </div>
        <div class="p-single">
          <a href="#">
            <img src="assets/jpg/Patient3.jpg" alt="">
            <div class="p-title">{{ 'section3.pat3' | transloco }}</div>
          </a>
        </div>
        <div class="p-single">
          <a href="#">
            <img src="assets/jpg/Patient4.jpg" alt="">
            <div class="p-title">{{ 'section3.pat4' | transloco }}</div>
          </a>
        </div>
        <div class="p-single">
          <a href="#">
            <img src="assets/jpg/Patient5.jpg" alt="">
            <div class="p-title">{{ 'section3.pat5' | transloco }}</div>
          </a>
        </div>
      </div>
      <div class="foot-link">
        <a class="pr" href="#">
          {{ 'section3.foot' | transloco }}
          <img src="assets/svg/SeeMoreArrow.svg" alt="">
        </a>
      </div>
    </div>
  </section>

  <section class="section4">
    <div class="container">
      <div class="title" [innerHTML]="'section4.title' | transloco"></div>

      <div class="ctn-art">
        <div class="row">
          <div class="col-xl-6 col-lg-12">
            <div class="row">
              <div class="col-md-6 col-12">
                <a href="#">
                  <div class="a-single">
                    <div class="ctn-img">
                      <img src="assets/jpg/ArticleImage1.jpg" alt="">
                    </div>
                    <div class="ctn-txt">
                      <div class="a-title">{{ 'section4.art1.text' | transloco }}</div>
                      <div class="a-sub-title">{{ 'section4.art1.desc' | transloco }}</div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="col-md-6 col-12">
                <a href="#">
                  <div class="a-single">
                    <div class="ctn-img">
                      <img src="assets/jpg/ArticleImage2.jpg" alt="">
                    </div>
                    <div class="ctn-txt">
                      <div class="a-title">{{ 'section4.art2.text' | transloco }}</div>
                      <div class="a-sub-title">{{ 'section4.art2.desc' | transloco }}</div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>
          <div class="col-xl-6 col-lg-12">
            <div class="row">
              <div class="col-md-6 col-12">
                <a href="#">
                  <div class="a-single">
                    <div class="ctn-img">
                      <img src="assets/jpg/ArticleImage3.jpg" alt="">
                    </div>
                    <div class="ctn-txt">
                      <div class="a-title">{{ 'section4.art3.text' | transloco }}</div>
                      <div class="a-sub-title">{{ 'section4.art3.desc' | transloco }}</div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="col-md-6 col-12">
                <a href="#">
                  <div class="a-single">
                    <div class="ctn-img">
                      <img src="assets/jpg/ArticleImage4.jpg" alt="">
                    </div>
                    <div class="ctn-txt">
                      <div class="a-title">{{ 'section4.art4.text' | transloco }}</div>
                      <div class="a-sub-title">{{ 'section4.art4.desc' | transloco }}</div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="foot-link">
        <a class="pr" href="#">
          {{ 'section3.foot' | transloco }}
          <img src="assets/svg/SeeMoreArrow.svg" alt="">
        </a>
      </div>
    </div>
  </section>

  <section class="section5">
    <div class="container">
      <div class="title" [innerHTML]="'section5.title' | transloco"></div>
      <div class="sub-title" [innerHTML]="'section5.subtitle' | transloco"></div>

      <div class="ctn-v">
        <a href="#">
          <div class="v-single">
            <div class="ctn-img">
              <img src="assets/jpg/VideoThumbnail1.jpg" alt="">
            </div>
            <div class="ctn-txt">
              <div class="v-title">{{ 'section5.vid1' | transloco }}</div>
            </div>
          </div>
        </a>

        <a href="#">
          <div class="v-single">
            <div class="ctn-img">
              <img src="assets/jpg/VideoThumbnail2.jpg" alt="">
            </div>
            <div class="ctn-txt">
              <div class="v-title">{{ 'section5.vid2' | transloco }}</div>
            </div>
          </div>
        </a>
      </div>

      <div class="foot-link">
        <a class="pr" href="#">
          {{ 'section5.foot' | transloco }}
          <img src="assets/svg/SeeMoreArrow.svg" alt="">
        </a>
      </div>
    </div>
  </section>

  <section class="section6">
    <div class="container">
      <div class="title" [innerHTML]="'section6.title' | transloco"></div>
      <div class="sub-title" [innerHTML]="'section6.subtitle' | transloco"></div>

      <div class="ctn-why">
        <div class="row">
          <div class="col-xl-6 col-lg-12">
            <div class="row">
              <div class="col-md-6 col-12">
                <div class="w-single">
                  <div class="ctn-img">
                    <img src="assets/svg/MoreExperienceIcon.svg" alt="">
                  </div>
                  <div class="ctn-txt">
                    <div class="w-title pr">{{ 'section6.item1.text' | transloco }}</div>
                    <div class="w-sub-title">{{ 'section6.item1.desc' | transloco }}</div>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-12">
                <div class="w-single">
                  <div class="ctn-img">
                    <img src="assets/svg/RightAnswerIcon.svg" alt="">
                  </div>
                  <div class="ctn-txt">
                    <div class="w-title pr">{{ 'section6.item2.text' | transloco }}</div>
                    <div class="w-sub-title">{{ 'section6.item2.desc' | transloco }}</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-6 col-lg-12">
            <div class="row">
              <div class="col-md-6 col-12">
                <div class="w-single">
                  <div class="ctn-img">
                    <img src="assets/svg/SeamlessCare.svg" alt="">
                  </div>
                  <div class="ctn-txt">
                    <div class="w-title pr">{{ 'section6.item3.text' | transloco }}</div>
                    <div class="w-sub-title">{{ 'section6.item3.desc' | transloco }}</div>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-12">
                <div class="w-single">
                  <div class="ctn-img">
                    <img src="assets/svg/UnparalledExpertise.svg" alt="">
                  </div>
                  <div class="ctn-txt">
                    <div class="w-title pr">{{ 'section6.item4.text' | transloco }}</div>
                    <div class="w-sub-title">{{ 'section6.item4.desc' | transloco }}</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="foot-link">
        <a class="pr" href="#">
          {{ 'section6.foot' | transloco }}
          <img src="assets/svg/SeeMoreArrow.svg" alt="">
        </a>
      </div>
    </div>
  </section>

  <section class="section7">
    <div class="container">
      <div class="title" [innerHTML]="'section7.title' | transloco"></div>
      <div class="sub-title" [innerHTML]="'section7.subtitle' | transloco"></div>

      <div class="ctn-search">
        <div class="search-inp">
          <input type="text" [placeholder]="'section7.plh' | transloco"/>
          <img src="assets/svg/SearchIcon.svg" alt="" />
        </div>
        <div class="tags">
          <div class="title">{{ 'section7.keywords.title' | transloco }}</div>
          <div class="content">
            <div class="tag">{{ 'section7.keywords.tag1' | transloco }}</div>
            <div class="tag">{{ 'section7.keywords.tag2' | transloco }}</div>
            <div class="tag">{{ 'section7.keywords.tag3' | transloco }}</div>
            <div class="tag">{{ 'section7.keywords.tag4' | transloco }}</div>
            <div class="tag">{{ 'section7.keywords.tag5' | transloco }}</div>
            <div class="tag">{{ 'section7.keywords.tag6' | transloco }}</div>
          </div>
        </div>
        <div class="keyboard">
          <div class="title">{{ 'section7.keyboard.title' | transloco }}</div>
          <div class="content" *ngIf="lang === 'hi'">
            <div class="letter">अ</div>
            <div class="letter">आ</div>
            <div class="letter">इ</div>
            <div class="letter">ई</div>
            <div class="letter">उ</div>
            <div class="letter">ऊ</div>
            <div class="letter">ए</div>
            <div class="letter">ऐ</div>
            <div class="letter">ओ</div>
            <div class="letter">औ</div>
            <div class="letter">अं</div>
            <div class="letter">अः</div>
            <div class="letter">क</div>
            <div class="letter">ख</div>
            <div class="letter">ग</div>
            <div class="letter">घ</div>
            <div class="letter">च</div>
            <div class="letter">छ</div>
            <div class="letter">ज</div>
            <div class="letter">झ</div>
            <div class="letter">ट</div>
            <div class="letter">ठ</div>
            <div class="letter">ड</div>
            <div class="letter">ढ</div>
            <div class="letter">ण</div>
            <div class="letter">त</div>
            <div class="letter">थ</div>
            <div class="letter">द</div>
            <div class="letter">ध</div>
            <div class="letter">न</div>
            <div class="letter">प</div>
            <div class="letter">फ</div>
            <div class="letter">ब</div>
            <div class="letter">भ</div>
            <div class="letter">म</div>
            <div class="letter">य</div>
            <div class="letter">र</div>
            <div class="letter">ल</div>
            <div class="letter">व</div>
            <div class="letter">श</div>
            <div class="letter">ष</div>
            <div class="letter">स</div>
            <div class="letter">ह</div>
            <div class="letter">क्ष</div>
            <div class="letter">त्र</div>
            <div class="letter">ज्ञ</div>
            <div class="letter">श्र</div>
          </div>
          <div class="content" *ngIf="lang === 'en'">
            <div class="letter">A</div>
            <div class="letter">B</div>
            <div class="letter">C</div>
            <div class="letter">D</div>
            <div class="letter">E</div>
            <div class="letter">F</div>
            <div class="letter">G</div>
            <div class="letter">H</div>
            <div class="letter">I</div>
            <div class="letter">J</div>
            <div class="letter">K</div>
            <div class="letter">L</div>
            <div class="letter">M</div>
            <div class="letter">N</div>
            <div class="letter">O</div>
            <div class="letter">P</div>
            <div class="letter">Q</div>
            <div class="letter">R</div>
            <div class="letter">S</div>
            <div class="letter">T</div>
            <div class="letter">U</div>
            <div class="letter">V</div>
            <div class="letter">W</div>
            <div class="letter">X</div>
            <div class="letter">Y</div>
            <div class="letter">Z</div>
          </div>
        </div>
        <div class="ctn-btn">
          <button class="btn btn-sc btn-round">{{ 'section7.keyboard.btn1' | transloco }}</button>
          <button class="btn btn-pr btn-round">{{ 'section7.keyboard.btn2' | transloco }}</button>
        </div>
      </div>

      <div class="foot-link">
        <a class="pr" href="#">
          {{ 'section7.foot' | transloco }}
          <img src="assets/svg/SeeMoreArrow.svg" alt="">
        </a>
      </div>
    </div>
  </section>

  <section class="section8">
    <div class="container">
      <div class="title" [innerHTML]="'section8.title' | transloco"></div>
      <div class="sub-title" [innerHTML]="'section8.subtitle' | transloco"></div>

      <div class="ctn-clinic">
        <a href="#">
          <div class="cl-single">
            <div class="ctn-img">
              <img src="assets/jpg/Clinic1.jpg" alt="">
            </div>
            <div class="ctn-txt">
              <div class="cl-title" [innerHTML]="'section8.cl1' | transloco"></div>
            </div>
          </div>
        </a>

        <a href="#">
          <div class="cl-single">
            <div class="ctn-img">
              <img src="assets/jpg/Clinic2.jpg" alt="">
            </div>
            <div class="ctn-txt">
              <div class="cl-title" [innerHTML]="'section8.cl2' | transloco"></div>
            </div>
          </div>
        </a>
      </div>

      <div class="foot-link">
        <a class="pr" href="#">
          {{ 'section8.foot' | transloco }}
          <img src="assets/svg/SeeMoreArrow.svg" alt="">
        </a>
      </div>
    </div>
  </section>

  <section class="section9">
    <div class="container">
      <div class="title" [innerHTML]="'section9.title' | transloco"></div>
      <div class="sub-title" [innerHTML]="'section9.subtitle' | transloco"></div>

      <form id="hero">
        <div class="ctn-form-field">
          <div class="label">{{ 'section9.form1' | transloco }}</div>
          <input type="text" name="name" [placeholder]="'section9.plh1' | transloco">
        </div>
        <div class="ctn-form-field">
          <div class="label">{{ 'section9.form2' | transloco }}</div>
          <input type="text" name="phone" [placeholder]="'section9.plh2' | transloco">
        </div>
        <button type="button" class="btn btn-pr">
          <img src="assets/svg/phone-w.svg" alt="">
          <span>{{ 'section9.form3' | transloco }}</span>
        </button>
      </form>
    </div>
  </section>
</main>
